/*==== Estilos del login ==== */
.contenedor_login {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login_img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
/* =========================== */

/*==== Estilos del footer ==== */
.title-footer {
  font-family: Monoton;
}
.opcion-footer:hover {
  color: #e41313 !important;
}
/* ======================== */
